[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

django = "*"
gunicorn = "*"
django-heroku = "*"
django-q = {git = "https://github.com/codeSamuraii/django-q.git",ref = "869bc7e75338d5bbeeb3323501ad612fa6b15daf"}


[requires]

python_version = "3.6"
